.bg-awesome {
  background-color: purple !important;
}
.bg-more-awesome{
  background-color: lightcoral;
}
.bg-awesomer {
  background-color: tan;
}
.bg-awesomest {
  background-color: brown;
}
.bg-most-awesome {
  background-color: turquoise;
}